@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import '/src/styles/Media.scss';

:root {
  //Colors
  --white-text: rgb(228, 229, 234);
  --background: #0e1014;
  --fonts-text: 'Montserrat';
  --fonts-title: 'Inter';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}
body {
  background: var(--background);
}
li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 150px;
}

.purpleBall,
.purplelight,
.redball,
.redballSmall,
.yellowlight,
.redlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.purpleBall {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 855px;
  top: -2px;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.208) 78.59%,
    rgba(86, 24, 128, 0.232) 100%
  );
  border-radius: 50%;

  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}
.purplelight {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 700px;
  top: -154px;
  border-radius: 50%;

  background: #833ab4;
  opacity: 0.5;
  filter: blur(196px);
}
.redball {
  border-radius: 50%;
  position: absolute;
  width: 83px;
  height: 83px;
  left: 520px;
  top: 75px;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}
.redballSmall {
  border-radius: 50%;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 851px;
  top: 539px;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 59.67%,
    rgba(167, 49, 49, 0.264) 78.59%,
    rgba(130, 25, 25, 0.232) 100%
  );

  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}
.redlight {
  border-radius: 50%;
  position: absolute;
  width: 311px;
  height: 311px;
  left: 50px;
  top: 251px;
  background: #961a1a;
  opacity: 0.5;
  filter: blur(196px);
}

@include mq(Sphone) {
  .redballSmall {
    display: none;
  }
  .purplelight {
    width: 180px;
    height: 300px;
    left: 130px;
    top: 107px;
  }
  .redball {
    width: 43px;
    height: 43px;
    left: 29px;
    top: 470px;
    filter: blur(5px);
  }
  .redlight {
    left: -55px;
    top: 241px;
    width: 211px;
    height: 210px;
  }
  .purpleBall {
    border-radius: 50% 0 0 50%;
    width: 30px;
    height: 40px;
    left: 290px;
    top: 280px;
  }
  .yellowlight {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -66px;
    top: 519px;

    background: #fcb045;
    opacity: 0.4;
    filter: blur(196px);
  }
  .container {
    padding: 0 0;
  }
}
