@import '/src/styles/Media.scss';

.layout {
  padding-top: 93px;
  display: flex;
  justify-content: space-between;
  &__left {
    .left__title {
      font-family: 'Inter';
      font-size: 48px;
      line-height: 58px;
      color: var(--white-text);
    }
    .left__subtitle {
      font-family: 'Inter';
      font-weight: 900;
      font-size: 48px;
      line-height: 58px;
      background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .left__text {
      max-width: 275px;
      padding-top: 30px;
      font-family: var(--fonts-text);
      color: var(--white-text);
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__right {
    .about__mobile {
      display: none;
    }
    display: flex;
    flex-direction: column;
    max-width: 330px;
    padding-top: 18px;
    .right__title {
      font-family: 'Inter';
      color: var(--white-text);
      text-align: right;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 40px;
      span {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    .right__about {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 30px;
      color: var(--white-text);
      &__widget,
      &__dashboard,
      &__skype,
      &__days {
        text-align: right;
        flex: 50%;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        .title {
          font-family: 'Inter';
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
      }

      &__description {
        padding-top: 6px;
        padding-left: 30px;
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 20px;
        text-align: right;
      }
    }
    .right__button {
      cursor: pointer;
      align-self: flex-end;
      background: #4077f3;
      width: 262px;
      height: 61px;
      font-family: 'Inter';
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: var(--white-text);
      outline: none;
      border: 0;
    }
  }
}

@include mq(Sphone) {
  .layout {
    padding-bottom: 55px;
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
    background: radial-gradient(
        238.53% 189.02% at 3.2% 3.49%,
        rgba(255, 246, 233, 0.1) 0%,
        rgba(26, 29, 35, 0.1) 26.62%,
        rgba(26, 29, 35, 0.1) 52.1%,
        rgba(26, 29, 35, 0.01) 70.17%,
        rgba(26, 29, 35, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    // backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */

    flex-direction: column;
    &__left {
      .left__title {
        font-size: 36px;
        line-height: 44px;
      }
      .left__subtitle {
        font-size: 36px;
        line-height: 44px;
      }
      .left__text {
        font-size: 18px;
        line-height: 22px;
      }
    }
    &__right {
      padding-top: 45px;
      .right__title {
        text-align: left;
        padding-bottom: 0;
        .title {
          background: linear-gradient(90deg, #fcb045 70%, #fd1d1d 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
      .about__mobile {
        display: flex;
        justify-content: space-around;
        li::before {
          content: ' ';
          left: -10px;
          top: -5px;
          position: relative;
          display: inline-block;
          width: 10px;
          height: 1px;
          background: linear-gradient(90deg, #fcb045 70%, #fd1d1d 100%);
        }
        &__list {
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          &__item {
            font-family: 'Montserrat';
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: var(--white-text);
          }
        }
      }
      .right__about,
      .right__button {
        display: none;
      }
    }
  }
}
